{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block body %}
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Add Employee</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <h2 class="card-inside-title">Basic Info</h2>
                            {% if form.errors %}
                                <div class="alert bg-red alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">×</span></button>
                                    {{ form.errors }}
                                </div>
                            {% endif %}
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                {% render_field form.username type="text" class="form-control" placeholder="Username" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                {% render_field form.email type="text" class="form-control" placeholder="Email" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                {% render_field form.first_name type="text" class="form-control" placeholder="First Name" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                {% render_field form.last_name type="text" class="form-control" placeholder="Last Name" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                {% render_field form.password1 class="form-control" placeholder="Password" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                {% render_field form.password2 class="form-control" placeholder="Confirm Password" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        {% render_field form.country class="form-control show-tick" %}
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                {% render_field form.address type="text" class="form-control" placeholder="Address" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                {% render_field form.phone type="text" class="form-control" placeholder="Phone" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        {% render_field form.gender class="form-control show-tick" %}
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                {% render_field form.image class="form-control" placeholder="image" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line" id="bs_datepicker_container">
                                                {% render_field form.birth_date class="form-control" placeholder="Birth Date" %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if request.path != '/update-info/' %}
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {% render_field form.is_active type="checkbox" id="basic_checkbox_1" %}
                                                <label for="basic_checkbox_1">Active</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {% render_field form.type class="form-control show-tick"%}
                                            </div>
                                        </div>
                                    {% endif %}

                                </div>
                                <div class="row clearfix">
                                    <div style="float: right;margin-right: 15px;">
                                        <input type="submit" class="btn bg-red btn-block btn-lg waves-effect"
                                               value="Save">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_script %}
    <script>
        $(function () {
            //Bootstrap datepicker plugin
            $('#bs_datepicker_container input').datepicker({
                autoclose: true,
                container: '#bs_datepicker_container'
            });
        })
    </script>
{% endblock %}